# 站点
NEXT_PUBLIC_SITE_URL=""

# vercel 调用 AI 的 key
AI_GATEWAY_API_KEY=""

# vercel kv 其实是 upstash
KV_URL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""
REDIS_URL=""

# imagekit 图片存储服务
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=""
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=""
IMAGEKIT_PRIVATE_KEY=""
